/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  border-bottom: 1px solid #F1F1F1;
}
.header .heaber_bg {
  max-width: 1296px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.header .heaber_bg .logo {
  display: block;
  background-image: url(../images/logo.svg);
  width: 90px;
  height: 40px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 25px;
  left: 0px;
}
.header .menu {
  display: flex;
  align-items: center;
  margin: 32px 0px;
}
.header .menu a {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0px 20px;
  padding: 4px 8px;
  position: relative;
}
.header .menu a .vector1 {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
  opacity: 0;
  transition: opacity 0.5s;
}
.header .menu a .vector2 {
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
  opacity: 0;
  transition: opacity 0.5s;
}
.header .menu a .vector3 {
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
  opacity: 0;
  transition: opacity 0.5s;
}
.header .menu a .vector4 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 1px solid #919191;
  border-top: 1px solid #919191;
  opacity: 0;
  transition: opacity 0.5s;
}
.header .menu a:hover {
  font-weight: 900;
}
.header .menu a:hover .vector1 {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
  opacity: 1;
  transition: opacity 0.5s;
}
.header .menu a:hover .vector2 {
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
  opacity: 1;
  transition: opacity 0.5s;
}
.header .menu a:hover .vector3 {
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
  opacity: 1;
  transition: opacity 0.5s;
}
.header .menu a:hover .vector4 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 1px solid #919191;
  border-top: 1px solid #919191;
  opacity: 1;
  transition: opacity 0.5s;
}
.header .burger {
  display: none;
}

@media (max-width: 992px) {
  .header {
    height: 56px;
    padding: 8px 12px;
  }
  .header .heaber_bg .logo {
    left: 10px;
    top: 0px;
  }
  .header .heaber_bg .logo img {
    width: 74px;
    height: 33px;
  }
  .header .heaber_bg .menu {
    display: none;
  }
  .header .burger {
    width: 40px;
    height: 30px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .header .burger svg {
    height: 100%;
  }
}
* {
  outline: 1px solid rgba(0, 0, 0, 0.0196078431);
}

.hero {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 20px;
}
.hero .hero_content {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 24px;
}
.hero .hero_content h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #3B3B3B;
}
.hero .hero_content .hero_text_1 {
  display: flex;
  justify-content: left;
  margin-bottom: 8px;
}
.hero .hero_content .hero_text_1 h3 {
  font-size: 20px;
  font-weight: 400;
  color: #5B5B5B;
}
.hero .hero_content .hero_text_1 .vector {
  background: url("../images/mark.png");
  width: 100%;
  height: 5%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-right: 12px;
  padding-left: 12px;
}
.hero .hero_content .hero_text_2 {
  display: flex;
  justify-content: left;
  margin-bottom: 16px;
}
.hero .hero_content .hero_text_2 h3 {
  font-size: 20px;
  font-weight: 400;
  color: #5B5B5B;
}
.hero .hero_content p {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #C1C1C1;
}
.hero .hero_content .hero_icon {
  display: flex;
  gap: 8px;
  margin-top: 60px;
}
.hero .hero_content .hero_icon img {
  width: 56px;
  display: block;
}
.hero .hero_content .hero-lg img {
  display: block;
  max-width: 1154px;
}
.hero .hero_content .hero-sm {
  display: none;
}

.title_index {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 80px 0px;
}
.title_index h2 {
  font-size: 32px;
  font-weight: 600;
  color: #3B3B3B;
  padding: 0px 16px;
}
.title_index .title_lg {
  display: block;
  width: 100px;
  height: 6px;
}
.title_index .title_sm {
  display: none;
}

.work {
  max-width: 100%;
  margin: 0 auto;
}
.work .work_content {
  max-width: 100%;
  margin: 0 auto;
}
.work .work_1 {
  max-width: 100%;
  background-color: rgba(39, 39, 39, 0.4);
  background-blend-mode: multiply;
  background-image: url(../images/homepage-work1-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.work .work_1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.work .work_1 .work_img {
  display: block;
  max-height: 100%;
  padding-top: 80px;
}
.work .work_1 .work_1_content {
  max-width: 526px;
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 200px 0px;
}
.work .work_1 .work_1_content h3 {
  font-size: 28px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 8px;
}
.work .work_1 .work_1_content p {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.work .work_1 .work-tags {
  margin-top: 24px;
  display: flex;
  justify-content: left;
  gap: 16px;
  margin: 35px 0px;
}
.work .work_1 .work-tags a {
  font-size: 16px;
  font-weight: 400;
  color: #3B3B3B;
  text-decoration: none;
  padding: 4px 12px;
  background: #FFF;
  border-radius: 16px;
}
.work .work_1 .link {
  width: 446px;
  border-bottom: 1px solid #FFF;
}
.work .work_1 .btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 16px 0px;
  width: 176px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  gap: 8px;
  margin-top: 40px;
}
.work .work_1 .btn img {
  display: block;
  width: 24px;
}
.work .work_2 {
  max-width: 100%;
  height: 800px;
  background-image: url(../images/homepage-work2-lg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.work .work_2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 750px;
}
.work .work_2 img {
  display: block;
  max-width: 100%;
}
.work .work_2 .work_2_content {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  z-index: 2;
  margin: 200px 0px;
}
.work .work_2 .work_2_content h3 {
  font-size: 28px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 8px;
}
.work .work_2 .work_2_content p {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.work .work_2 .work_2_content .work-tags {
  margin-top: 24px;
  display: flex;
  justify-content: left;
  gap: 16px;
  margin: 35px 0px;
}
.work .work_2 .work_2_content .work-tags a {
  font-size: 16px;
  font-weight: 400;
  color: #3B3B3B;
  text-decoration: none;
  padding: 4px 12px;
  background: #FFF;
  border-radius: 16px;
}
.work .work_2 .work_2_content .link {
  width: 446px;
  border-bottom: 1px solid #FFF;
}
.work .work_2 .work_2_content .btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 16px 0px;
  width: 176px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  gap: 8px;
  margin-top: 40px;
}
.work .work_2 .work_2_content .btn img {
  display: block;
  width: 24px;
}
.work .work_2 .box_bg {
  width: 50%;
  height: 100%;
  background: rgba(10, 16, 19, 0.5019607843);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.work .work_3 {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-image: url(../images/homepage-work3-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.work .work_3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.work .work_3 .work_img {
  display: block;
  max-width: 100%;
}
.work .work_3 .work_3_content {
  max-width: 526px;
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 200px 0px;
}
.work .work_3 .work_3_content h3 {
  font-size: 28px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 8px;
}
.work .work_3 .work_3_content p {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.work .work_3 .work-tags {
  margin-top: 24px;
  display: flex;
  justify-content: left;
  gap: 16px;
  margin: 35px 0px;
}
.work .work_3 .work-tags a {
  font-size: 16px;
  font-weight: 400;
  color: #3B3B3B;
  text-decoration: none;
  padding: 4px 12px;
  background: #FFF;
  border-radius: 16px;
}
.work .work_3 .link {
  width: 446px;
  border-bottom: 1px solid #FFF;
}
.work .work_3 .btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 16px 0px;
  width: 176px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  gap: 8px;
  margin-top: 40px;
}
.work .work_3 .btn img {
  display: block;
  width: 24px;
}

.services {
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/homepage-services-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.services .services_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.services .services_content a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  background-image: url(../images/service-item-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 306px;
  height: 306px;
  border-radius: 16px;
  gap: 24px;
}
.services .services_btn {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 120px;
}
.services .services_btn p {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.services .services_btn a {
  width: 276px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #FFF;
  padding: 16px 0px;
  background: #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 8px;
  vertical-align: middle;
}
.services .services_btn a img {
  display: block;
}

.articles {
  max-width: 100%;
  padding: 0px 5px 120px 5px;
}
.articles .articles_content {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
}
.articles .articles_content li {
  width: 416px;
}
.articles .articles_content li img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.articles .articles_content a {
  text-decoration: none;
}
.articles .articles_content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #3B3B3B;
  margin: 16px 8px;
}
.articles .articles_content .articles_item_tags {
  margin: 0px 8px;
  display: flex;
  justify-content: space-between;
}
.articles .articles_content .articles_item_tags p {
  font-size: 16px;
  font-weight: 400;
  color: #3B3B3B;
  padding: 4px 12px;
  background: #F1F1F1;
  border-radius: 16px;
}
.articles .articles_content .articles_item_tags span {
  font-size: 16px;
  font-weight: 400;
  color: #5B5B5B;
}
.articles .elliose {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.articles .elliose li {
  width: 12px;
  height: 12px;
  background: #E9E9E9;
  border-radius: 12px;
  transition-duration: 0.5s;
}
.articles .elliose li:hover {
  background: #000;
}

@media (max-width: 992px) {
  .hero {
    padding-left: 0px;
  }
  .hero .hero_content {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    gap: 0px;
  }
  .hero .hero_content h2 {
    padding-top: 40px;
    font-size: 32px;
    font-weight: 700;
  }
  .hero .hero_content .hero_text_1 {
    flex-direction: column;
  }
  .hero .hero_content .hero_text_2 {
    flex-direction: column;
  }
  .hero .hero_content p {
    flex-direction: column;
  }
  .hero .hero_content .hero_icon {
    justify-content: center;
    gap: 16px;
    padding-bottom: 40px;
  }
  .hero .hero_content .hero_icon img {
    width: 40px;
    height: 40px;
  }
  .title_index {
    padding: 40px 0px;
  }
  .title_index h2 {
    font-size: 24px;
    font-weight: 700;
  }
  .title_index .title_lg {
    display: none;
  }
  .title_index .title_sm {
    display: block;
    width: 56px;
    height: 6px;
  }
  .work .work_1 {
    max-width: 100%;
    height: 390px;
  }
  .work .work_1 ul {
    flex-direction: column;
  }
  .work .work_1 .work_img {
    padding-top: 93px;
  }
  .work .work_1 img {
    width: 295px;
  }
}
@media (max-width: 768px) {
  .hero .hero_content .hero-lg {
    display: none;
  }
  .hero .hero_content .hero-sm {
    display: block;
    max-width: 375px;
    height: 285px;
  }
}
.title {
  margin: 0 auto;
  background: #FAFAFA;
  padding: 80px 0px;
}
.title img {
  display: block;
}
.title .title_top {
  margin: 0 auto;
  width: 670px;
  position: relative;
}
.title .title_top .quote-left {
  position: absolute;
  left: 0%;
  top: 0%;
}
.title .title_top .txet_top {
  padding: 60px 0px 0px 20px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.title .title_top .txet_top .vector {
  background: url("../images/mark.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-right: 20px;
}
.title .title_top .txet_bottom {
  padding: 10px 0px 60px 20px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.title .title_top .txet_bottom .vector {
  background: url("../images/mark.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-right: 20px;
}
.title .title_top .quote-right {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.title .title_bottom {
  max-width: 636px;
  margin: 0 auto;
  margin-top: 24px;
}
.title .title_bottom ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.title .title_bottom ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 298px;
}
.title .title_bottom h3 {
  font-weight: 400;
  color: #5B5B5B;
}
.title .title_bottom .link {
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid #C1C1C1;
  width: 24px;
}
.title .title_bottom p {
  font-weight: 400;
  text-align: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 5px;
}
.container .work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.container .work .space {
  max-width: 636px;
  margin-top: 80px;
}
.container .work .space img {
  display: block;
  border-radius: 8px;
  border: 1px solid #F1F1F1;
  max-width: 100%;
}
.container .work .work-info {
  margin: 0px 16px;
}
.container .work .work-info h3 {
  font-size: 28px;
  font-weight: 700;
  color: #3B3B3B;
  margin-top: 16px;
  margin-bottom: 8px;
}
.container .work .work-info p {
  font-size: 16px;
  font-weight: 400;
  color: #919191;
}
.container .work .work-tags {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}
.container .work .work-tags a {
  font-size: 16px;
  font-weight: 400;
  color: #3B3B3B;
  text-decoration: none;
  padding: 4px 12px;
  background: #F1F1F1;
  border-radius: 16px;
}
.container .paginator {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  gap: 16px;
  padding-bottom: 80px;
}
.container .paginator a {
  display: block;
  font-size: 24px;
  padding: 4px 13px;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}
.container .paginator a:hover {
  background: #000;
  color: #FFF;
}

@media (max-width: 992px) {
  .title {
    padding: 40px 0px 80px 0px;
  }
  .title .quote-right {
    display: none;
  }
}
@media (max-width: 768px) {
  .title {
    padding: 40px 0px 80px 0px;
  }
  .title .title_top {
    width: 300px;
  }
  .title .title_top .quote-left {
    max-width: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
  .title .title_top .txet_top {
    font-size: 20px;
    margin-left: 0px;
    padding: 70px 0px 0px 0px;
  }
  .title .title_top .txet_bottom {
    width: 260px;
    margin: 0 auto;
    font-size: 20px;
    padding: 16px 0px 0px 0px;
  }
  .title .title_top .quote-right {
    display: none;
  }
  .title .title_bottom {
    width: 235px;
  }
  .title .title_bottom ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .container {
    padding: 0px 12px 0px 12px;
    margin-top: 56px;
  }
  .container .work .space {
    margin-top: 24px;
  }
  .container .work .work-info h3 {
    font-size: 20px;
  }
  .container .work .work-tags {
    margin-top: 16px;
  }
  .container .paginator {
    margin-top: 50px;
  }
}
.footer {
  background-image: url("../images/footer-bg-lg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .footer_content {
  max-width: 1296px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.footer .content img {
  display: block;
  width: 120px;
}
.footer .content p {
  font-size: 20px;
  font-weight: 400;
  color: #3B3B3B;
  padding: 24px 0px;
}
.footer .content .mail {
  font-size: 20px;
  font-weight: 400;
  color: #919191;
  text-decoration: none;
}
.footer .community {
  width: 306px;
}
.footer .community img {
  display: block;
  width: 56px;
  margin-right: 10px;
}
.footer .community li {
  margin: 24px 0px;
}
.footer .community a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #3B3B3B;
  border: 1px solid #C1C1C1;
  background: #FFF;
  padding: 8px 24px;
  border-radius: 8px;
}
.footer .community a:hover {
  background: #000;
  color: #FFF;
  font-weight: 700;
}
.footer .community a:hover img {
  filter: brightness(100);
}

@media (max-width: 768px) {
  .footer {
    background-image: url("../images/footer-bg-sm.png");
    height: 100%;
  }
  .footer .footer_content {
    max-width: 375px;
    flex-direction: column;
  }
  .footer .content {
    padding: 40px 12px 30px 12px;
    text-align: center;
  }
  .footer .content img {
    margin: 0 auto;
  }
  .footer .content p {
    font-size: 16px;
  }
  .footer .content .mail {
    font-size: 16px;
  }
  .footer .community {
    max-width: 306px;
    padding-bottom: 30px;
  }
  .footer .community img {
    margin-right: 5px;
  }
  .footer .community li {
    margin: 24px 0px;
  }
  .footer .community a {
    padding: 4px 24px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

.wrap {
  margin: 0 auto;
}/*# sourceMappingURL=all.css.map */