.header{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #F1F1F1;
    .logo{
        position: absolute;
        top: 25px;
        left: 0%;
        img{
            display: block;
        }
    }
    .menu{
        display: flex;
        align-items: center;
        max-width: 480px;
        margin: 32px 0px;
        a{
            display: block;
            text-decoration: none;
            color: #000;
            margin: 0px 20px;
            padding: 4px 4px;
            &:hover{
                font-weight: 900;
            }
        }
    }
    .burger{
        display: none;
    }
}


@media(max-width: 768px){
    .header{
        height: 56px;
        padding: 8px 12px;
        .logo{
            left: 20px;
            top: 15%;
        }
        .menu{
            display: none;
        }
        .burger{
            width: 40px;
            height: 30px;
            display: block;
            position: absolute;
            right: 20px;
            top: 25%;
            svg{
                height: 100%;
            }
        }
    }
}