.header{
    border-bottom: 1px solid #F1F1F1;
    .heaber_bg{
        max-width: 1290px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .logo{
        position: absolute;
        top: 25px;
        left: 0px;
        img{
            display: block;
        }
    }
    .menu{
        display: flex;
        align-items: center;
        margin: 32px 0px;
        a{
            display: block;
            text-decoration: none;
            color: #000;
            margin: 0px 20px;
            padding: 4px 8px;
            position: relative;
            &:hover{
                font-weight: 900;
                .vector1{
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-top: 1px solid #919191;
                    border-right: 1px solid #919191;
                }
                .vector2{
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border-right: 1px solid #919191;
                    border-bottom: 1px solid #919191;
                }
                .vector3{
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-bottom: 1px solid #919191;
                    border-left: 1px solid #919191;
                }
                .vector4{
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-left: 1px solid #919191;
                    border-top: 1px solid #919191;
                }
            }
        }
   
        
    }
    .burger{
        display: none;
    }
}


@media(max-width: 768px){
    .header{
        height: 56px;
        padding: 8px 12px;
        .logo{
            left: 20px;
            top: 0px;
        }
        .menu{
            display: none;
        }
        .burger{
            width: 40px;
            height: 30px;
            display: block;
            position: absolute;
            right: 10px;
            top: 5px;
            svg{
                height: 100%;
            }
        }
    }
}