.header{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    .logo{
        position: absolute;
        top: 25px;
        left: 0%;
        img{
            display: block;
        }
    }

    .menu{
        display: flex;
        align-items: center;
        max-width: 480px;
        margin: 32px 0px;
        a{
            display: block;
            text-decoration: none;
            color: #000;
            margin: 0px 20px;
            padding: 4px 4px;
            &:hover{
                font-weight: 900;
            }
        }
    }
}