// *{
//      outline: 1px solid #00000010;
//  }

.hero{
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 20px;
    .hero_content_lg{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 24px;

        h2{
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 32px;
            color: #3B3B3B;
        }
        h3{
            font-size: 20px;
            font-weight: 400;
            color: #5B5B5B;
            padding-bottom: 8px;
            .vector{
                background: url("../images/mark.png");
                width: 100%;
                height: 5%;
                background-repeat: no-repeat;
                background-position: bottom;
                padding-right: 12px;
                padding-left: 12px;
            }
        }      
        p{
            font-size: 16px;
            font-weight: 400;
            color: #C1C1C1;
            padding-top: 8px;
        }
        .hero_icon{
            display: flex;
            gap: 8px;
            margin-top: 60px;
            img{
                width: 56px;
                display: block;
            }
        }
        img{
            display: block;
            max-width: 100%;
        }
    }
    .hero_content_sm{
        display: none;
    }    
}


.title_index{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px 80px 0px;
    h2{
        font-size: 32px;
        font-weight: 600;
        color: #3B3B3B;
        padding: 0px 16px;
    }
    .title_lg{
        display: block;
        width: 100px;
        height: 6px;
    }
    .title_sm{
        display: none;
    }
}

.work{
    max-width: 100%;
    margin: 0 auto;
    .work_content{
        max-width: 100%;
        margin: 0 auto;
    }
    .work_content_sm{
        display: none;
    }
    .work_1_lg{
        background-image: url(../images/homepage-work1-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        .work_bg{
            width: 100%;
            height: 100%;
            background: #27272780;
            position: absolute;
            z-index: 0;
        }
        .work_img{
            max-width: 714px;
            max-height: 720px;
            margin-top: 80px;
            padding-left: 10px;
            z-index: 1;
            img{
                display: block; 
                max-width: 100%;
            }
        }
        .work_1_content_lg{
            background: #FFFFFF1A;
            padding: 80px 40px 56px 40px;
            border-radius: 24px;
            backdrop-filter: blur(5px);
            margin-right: 10px;
            z-index: 2;
            h3{
                font-size: 28px;
                font-weight: 700;
                color: #FFF;
                margin-bottom: 8px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #FFF;
            }
        }
        .work-tags{
            margin-top: 24px;
            display: flex;
            justify-content: left;
            gap: 16px;
            margin: 35px 0px;
            a{
                font-size: 16px;
                font-weight: 400;
                color: #3B3B3B;
                text-decoration: none;
                padding: 4px 12px;
                background: #FFF;
                border-radius: 16px;
            }
        }
        .link{
            width: 446px;
            border-bottom: 1px solid #FFF;
        }
        .btn{
            img{
                display: block;
                width: 24px;
            }
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            padding: 16px 0px;
            width: 176px;
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            border-radius: 10px;
            text-decoration: none;
            gap: 8px;
            margin-top: 40px;
        }
    }
    
    .work_2_lg{
        max-width: 100%;
        background-image: url(../images/homepage-work2-lg.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 200px 0px;
        ul{
            max-width: 1296px;
            margin: 0 auto;
            display: flex;
        }
        .work_2_content_lg{
            backdrop-filter: blur(5px);
            background: #FFFFFF1A;
            padding: 80px 40px 56px 40px;
            border-radius: 24px;
            z-index: 2;
            margin-left: 10px;
            h3{
                font-size: 28px;
                font-weight: 700;
                color: #FFF;
                margin-bottom: 8px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #FFF;
            }
            .work-tags{
                margin-top: 24px;
                display: flex;
                justify-content: left;
                gap: 16px;
                margin: 35px 0px;
                a{
                    font-size: 16px;
                    font-weight: 400;
                    color: #3B3B3B;
                    text-decoration: none;
                    padding: 4px 12px;
                    background: #FFF;
                    border-radius: 16px;
                }
            }
            .link{
                width: 446px;
                border-bottom: 1px solid #FFF;
            }
            .btn{
                img{
                    display: block;
                    width: 24px;
                }
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #000;
                padding: 16px 0px;
                width: 176px;
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                border-radius: 10px;
                text-decoration: none;
                gap: 8px;
                margin-top: 40px;
            }
        }
        .box_bg{
            width: 50%;
            height: 100%;
            background: #0A101380;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
    .work_3_lg{
        background-image: url(../images/homepage-work3-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        max-height: 881px;
        padding: 144px 0px;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        .work_bg{
            width: 100%;
            height: 100%;
            background: #27272780;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .work_img{
            max-width: 721px;
            max-height: 512px;
            z-index: 1;
            img{
                display: block;
                max-width: 100%;
            } 
        }
        .work_3_content_lg{
            background: #FFFFFF1A;
            padding: 80px 40px 56px 40px;
            border-radius: 24px;
            backdrop-filter: blur(5px);
            margin-right: 10px;
            h3{
                font-size: 28px;
                font-weight: 700;
                color: #FFF;
                margin-bottom: 8px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #FFF;
            }
        }
        .work-tags{
            margin-top: 24px;
            display: flex;
            justify-content: left;
            gap: 16px;
            margin: 35px 0px;
            a{
                font-size: 16px;
                font-weight: 400;
                color: #3B3B3B;
                text-decoration: none;
                padding: 4px 12px;
                background: #FFF;
                border-radius: 16px;
            }
        }
        .link{
            width: 446px;
            border-bottom: 1px solid #FFF;
        }
        .btn{
            img{
                display: block;
                width: 24px;
            }
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            padding: 16px 0px;
            width: 176px;
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            border-radius: 10px;
            text-decoration: none;
            gap: 8px;
            margin-top: 40px;
        }
    }
}

.services{
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/homepage-services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .services_content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        img{
            width: 80px;
            height: 80px;
        }
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            font-weight: 700;
            color: #FFF;
            text-decoration: none;
            background-image: url(../images/service-item-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 306px;
            height: 306px;
            border-radius: 16px;
            gap: 24px;
        }
         
    }
    .services_btn{
        text-align: center;
        margin-top: 80px;
        padding-bottom: 120px;
        p{
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 40px;
        }
        a{
            width: 276px;
            margin: 0 auto;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            color: #FFF;
            padding: 16px 0px;
            background: #000;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            gap: 8px;
            vertical-align: middle;
            img{
                display: block;
            }
        }
    }
}

.articles{
    max-width: 100%;
    padding: 0px 5px 120px 5px;
    .articles_content{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 40px;
        li{
            max-width: 416px;
            
            img{
                width: 100%;
                display: block;
                border-radius: 8px;
                border: 1px solid #F1F1F1;
            }
        }
        a{
            text-decoration: none;
        }
        h3{
            font-size: 20px;
            font-weight: 700;
            color: #3B3B3B;
            margin: 16px 8px;
        }
        .articles_item_tags{
            margin: 0px 8px;
            display: flex;
            justify-content: space-between;
            p{
                font-size: 16px;
                font-weight: 400;
                color: #3B3B3B;
                padding: 4px 12px;
                background: #F1F1F1;
                border-radius: 16px;
            }
            span{
                font-size: 16px;
                font-weight: 400;
                color: #5B5B5B;
            }
            
        }
    }
    .elliose{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        li{
            width: 12px;
            height: 12px;
            background: #E9E9E9;
            border-radius: 12px;
            transition-duration: .5s;
            &:hover{
                background:#000;
            }
        }
    }
    .btn_sm{
        display: none;
    }
}

@media(max-width: 992px){
    .hero{
        padding-left: 0px;
        .hero_content_lg{
            flex-direction: column-reverse;
        }
    }
} 

@media(max-width: 768px){
    .hero{
        max-width: 768px;
        .hero_content_lg{
            display: none;
        }
    .hero_content_sm{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            img{
                display: block;
                max-width: 100%;
            }
            h2{
                font-size: 32px;
                font-weight: 700;
                color: #3B3B3B;
                margin: 40px 0px 24px 0px;
            }
            h3{
                font-size: 20px;
                font-weight: 400;
                color: #5B5B5B;
                .vector{
                    background: url("../images/mark.png");
                    width: 100%;
                    height: 5%;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    padding-right: 12px;
                    padding-left: 12px;
                }
            }      
            p{
                font-size: 16px;
                font-weight: 400;
                color: #C1C1C1;
                padding-top: 8px;
            }
            .hero_text_1{
                margin-bottom: 8px;
            }
            .hero_text_2{
                margin-bottom: 16px;
            }
            .hero_icon{
                display: flex;
                justify-content: center;
                gap: 16px;
                margin-top: 60px;
                margin-bottom: 40px;
                img{
                    width: 40px;
                    display: block;
                }
            }

        
        }  
    }

    .title_index{
        padding: 40px 0px ;
        h2{
            font-size: 24px;
            font-weight: 700;
        }
        .title_lg{
            display: none;
        }
        .title_sm{
            display: block;
            width: 56px;
            height: 6px;
        }
    }
    .work{
        .work_1_lg{ 
            background-size: cover;
            ul{
                flex-direction: column;
                gap: 0px;
            }
            .work_img{
                max-width: 295px;
                max-height: 297px;
                margin-top: 93px;
                padding-left: 0px;
                img{
                    max-width: 100%;
                }
            }
            .work_1_content_lg{
                display: none;
            }
        }
        .work_2_lg{ 
            background-size: cover;
            background-image: url(../images/homepage-work2-sm.png);
            
            ul{
                flex-direction: column;
                gap: 0px;
            }
            .work_2_content_lg{
                display: none;
            }
            .box_bg{
                display: none;
            }
        }
        .work_3_lg{ 
            background-size: cover;
            padding: 90px 40px;
            max-height: 390px;
            ul{
                flex-direction: column;
                gap: 0px;
            }
            .work_img{
                max-width: 295px;
                max-height: 210px;
                img{
                    width: 100%;
                }
            }
            .work_3_content_lg{
                display: none;
            }
        }     
        .work_content_sm{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 48px;
            h3{
                font-size: 24px;
                font-weight: 700;
                color: #1E1E1E;
                margin-bottom: 8px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #1E1E1E;
            }
            
        }
        .work-tags{
            display: flex;
            justify-content: left;
            margin: 16px 0px 20px 0px;
            gap: 8px;
            a{
                font-size: 16px;
                font-weight: 400;
                color: #3B3B3B;
                text-decoration: none;
                padding: 4px 12px;
                background: #F1F1F1;
                border-radius: 16px;
            }
        }
        .btn{
            img{
                display: block;
                width: 24px;
            }
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            padding: 8px 0px;
            width: 128px;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            border-radius: 5px;
            text-decoration: none;
            gap: 8px;
        }

    }
    .services{
        background-image: none;
        background: #FAFAFA;
        padding-top: 40px;
        .services_content{
            a{
                font-size: 24px;
            }
        }
        .services_btn{
            margin-top: 40px;
            padding-bottom: 80px;
            p{
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 24px;
            }
            a{
                width: 208px;
                font-size: 16px;
                font-weight: 700;
                padding: 8px 16px;
                
            }
        }
    }
    .articles{
        margin: 0 auto;
        padding: 80px 12px 80px 12px;
        .articles_content{
            flex-direction: column;
            align-items: center;
            gap: 48px;
            h3{
                font-weight: 600;
            }
        }
        .elliose{
            display: none;
        }
        .btn_sm{
            img{
                display: block;
                width: 24px;
                height: 24px;
            }
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            padding: 8px 0px;

            width: 128px;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            border-radius: 5px;
            text-decoration: none;
            gap: 8px;
            margin-top: 40px;
        }
    }
        
}