/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// *{
//     outline: 1px solid #00000005;
//   }

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
  }

.wrap{
    max-width: 100%;
    margin: 0 auto;
}

.header{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    .logo{
        position: absolute;
        top: 25px;
        left: 0%;
        img{
            display: block;
        }
    }

    .menu{
        display: flex;
        align-items: center;
        max-width: 480px;
        margin: 32px 0px;
        a{
            display: block;
            text-decoration: none;
            color: #000;
            margin: 0px 20px;
            padding: 4px 4px;
            &:hover{
                font-weight: 900;
            }
        }
    }
}

.title{
    background: #FAFAFA;
    padding: 80px 0px;
    img{
        display: block;
    }
    .title_top{
        margin: 0 auto;
        max-width: 670px;
        position: relative;
        .quote-left{
            position: absolute;
            left: 0%;
            top: 0%;
        }
        h2{
            padding: 70px 0px;
            max-width: 548px;
            margin-left: 70px;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            .vector{
                background-image: url("./images/mark.png");
                background-repeat: no-repeat;
                background-position: bottom;
                padding-right: 20px;
            }
        }
        .quote-right{
            position: absolute;
            right: 0%;
            bottom: 0%;
        }
    }
    .title_bottom{
        max-width: 636px;
        margin: 0 auto;
        margin-top: 40px;
        ul{
            display: flex;
            justify-content: space-between;

            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 298px;
            }
        }
        h3{
            font-weight: 400;
            color: #5B5B5B;
        }
        .link{
            margin-top: 4px;
            margin-bottom: 8px;
            border: 2px solid #C1C1C1;
            width: 24px;
        }
        p{
            font-weight: 400;
            text-align: center;
            
        }
    }
}

.container{
    max-width: 1296px;
    margin: 0 auto;
    .work{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        .space{
            max-width: 636px;
            margin-top: 80px;
            img{
                display: block;
                border-radius: 8px;
                border: 1px solid #F1F1F1;
                max-width: 100%;
            }
        }
        .work-info{
            margin-left: 16px;
            h3{
                font-size: 28px;
                font-weight: 700;
                color: #3B3B3B;
                margin-top: 16px;
                margin-bottom: 8px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #919191;
            }
        }
        .work-tags{
            margin-top: 24px;
            display: flex;
            gap: 20px;
            a{
                font-size: 16px;
                font-weight: 400;
                color: #3B3B3B;
                text-decoration: none;
                padding: 4px 12px;
                background: #F1F1F1;
                border-radius: 16px;
            }
        }
    }
    .paginator{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        gap: 16px;
        padding-bottom: 85px;
        a{
            font-size: 24px;
            font-weight: 400;
            padding: 6px 13px;
            border-radius: 4px;
            text-decoration: none;
            color: #000;
            &:hover{
                background: #000;
                color: #FFF;
            }
        }
    }
}

.footer{
    background-image: url('./images/footer-bg-lg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 424px;
    .footer_content{
        max-width: 1296px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .content{
        img{
            display: block;
            width: 120px;
        }
        p{
            font-size: 20px;
            font-weight: 400;
            color: #3B3B3B;
            padding: 24px 0px;
        }
        .mail{
            font-size: 20px;
            font-weight: 400;
            color: #919191;
            text-decoration: none;
        }
        
    }
    .community{
        img{
            vertical-align: middle;
            width: 56px;
            margin-right: 20px;
        }
        li{
            margin: 24px 0px;
        }
        a{
            display: block;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
            color: #3B3B3B;
            border: 1px solid #C1C1C1;
            padding: 8px 24px;
            border-radius: 8px;
            &:hover{
                background: #000;
                color: #FFF;
                img{
                    filter: brightness(100);
                }
            }
        }
    }
            
}
    